// @media ()

@media (max-width: 1024px) {
  #home {
    .header-content {
      margin-left: 4rem;
    }
  }
  #skills {
    .container {
      .skills-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  #portfolio {
    .container {
      .cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  #contact {
    .container {
      .contact-box {
        width: 90%;
        min-width: auto;
        margin: 2.5rem;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);

        .contact-info {
          top: 0;
          height: 550px;
          position: relative;
          box-shadow: none;
        }
        .contact-form {
          position: relative;
          width: calc(100% - 350px);
          padding-left: 0;
          margin-left: 0;
          padding: 5rem;
          height: 550px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #contact {
    .container {
      .contact-box {
        contact-info {
          width: 100%;
          height: auto;
        }
        display: flex;
        flex-direction: column-reverse;
        .contact-form {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .flex {
    display: block;
  }
  .heading {
    font-size: 2rem;
  }

  #main-nav {
    .navbar {
      ul {
        flex-direction: column;
        justify-content: start;
        position: fixed;
        background: $dark-bg;
        padding: 2rem;
        top: 0;
        right: 0;
        width: 0;
        margin: 0;
        opacity: 0;
        transition: all 0.5s ease-in;
        li {
          margin-top: 1.5rem;
          a:hover::after {
            width: 35%;
            margin: auto;
          }
        }
      }

      .active {
        opacity: 1;
        width: 100%;
      }

      .burger {
        display: block;
        transition: all 0.5s ease-in-out;
        z-index: 3;
      }

      .toggle {
        .line1 {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        .line2 {
          opacity: 0;
        }
        .line3 {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }
    }
  }

  #home {
    .header-content {
      margin-left: 0;
      h3 {
        font-size: 1.5rem;
      }
      h1 {
        font-size: 2.5rem;
      }
      h2 {
        font-size: 1.5rem;
      }
    }
  }

  #about {
    .container {
      .about-content {
        text-align: center;

        min-width: 100%;
      }
    }
  }

  #skills {
    .container {
      .skills-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  #portfolio {
    .container {
      .cards {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
