@import 'config';
@import 'utilities';
@import 'responsive';
@import 'functions';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Dosis', sans-serif;
  color: #ffffff;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

// navbar

#main-nav {
  position: fixed;
  z-index: 9;
  width: 100%;
  padding-top: 1rem;
  transition: all 0.5s ease-in-out;

  .navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .logo {
    font-family: 'Eczar', serif;
    font-size: 2.5rem;
    color: #fff;
    span {
      color: $main-color;
    }
  }
  ul {
    display: flex;

    li {
      padding: 1rem 1.5rem;
      a {
        color: #fff;

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0.2rem;
          background: $main-color;
          transition: width 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .burger {
    display: none;
    cursor: pointer;
    text-align: center;
    .line {
      width: 30px;
      height: 3px;
      margin: 5px;
      background: #fff;
      transition: all 0.4s ease;
    }
  }
}

.navbar-bg {
  background: $dark-bg;
}

// home section

#home {
  min-height: 100vh;
  background: url('../images/background.jpg') no-repeat center right/cover;
  text-align: center;
  position: relative;
  &::after {
    content: '';
    background: rgba(19, 41, 61, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 100vh;
    position: absolute;
    z-index: 3;
    transition: transform 3s ease;
    transition: all 2s ease;
  }

  h3 {
    color: $secondary-color;
    font-weight: 300;
    font-size: 2rem;
  }
  h1 {
    font-size: 4rem;
    color: $light-bg;
  }

  h2 {
    font-size: 2rem;
    span {
      color: $main-color;
    }
  }
}

#about {
  background: $light-bg;
  color: $dark-bg;
  .about-content {
    max-width: 50%;
    h2 {
      text-align: left;
    }
  }

  img {
    @include box-shadow(15px, 15px, 0, -5px, $main-color);
  }
}

#skills {
  background: $dark-bg;
  color: $light-bg;

  h2 {
    text-align: center;
  }
  .skills-container {
    display: grid;
    margin-top: 4rem;
    grid-template-columns: repeat(4, 1fr);
    .skills-box {
      text-align: center;
      i {
        font-size: 4rem;
      }
      p {
        font-size: 1.5rem;
        color: $secondary-color;
      }
    }
  }
}

#portfolio {
  background: $light-bg;

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    .flip-container {
      perspective: 1000px;
      cursor: pointer;
      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
      }

      .front,
      .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-box-shadow: 5px 5px 5px 0px #000000,
          inset 4px 4px 15px 0px #000000, 5px 5px 25px 5px rgba(0, 0, 0, 0);
        box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
          5px 5px 25px 5px rgba(0, 0, 0, 0);
      }

      .front {
        z-index: 2;
        transform: rotateY(0deg);
      }

      .back {
        transform: rotateY(180deg);
        background: $dark-bg;

        a {
          color: inherit;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }

      &:hover .flipper,
      &.hover .flipper {
        transform: rotateY(180deg);
      }
    }

    .flip-container,
    .front,
    .back {
      height: 250px;
    }
  }
}

#contact {
  background: $dark-bg;
  .contact-box {
    position: relative;
    min-width: 800px;
    min-height: 500px;
    z-index: 3;

    .contact-info {
      border-radius: 5px;
      position: absolute;
      top: 40px;
      // width: 350px;
      height: calc(100% - 80px);
      background: $main-color;
      z-index: 1;
      justify-content: flex-start;
      flex-direction: column;
      box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);

      h2 {
        font-size: 1.75rem;
        font-weight: 500;
      }
      .info {
        position: relative;

        li {
          cursor: pointer;
          position: relative;

          span {
            margin-left: 0.5rem;
          }
        }
      }
      .social {
        ul {
          justify-content: flex-start;

          li {
            margin-right: 1.5rem;
            i {
              color: $light-bg;
            }
          }
        }
      }
    }

    .contact-form {
      border-radius: 5px;
      position: absloute;
      padding: 70px 50px;
      padding-left: 250px;
      margin-left: 150px;
      width: calc(100% - 150px);
      min-height: 100%;
      color: $dark-bg;
      background: #fff;
      box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);

      h2 {
        color: $main-color;
        font-size: 2rem;
        font-weight: 500;
      }

      .form-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 2rem;

        .input-box {
          position: relative;
          margin-bottom: 2rem;
          input,
          textarea {
            width: 100%;
            resize: none;
            font-weight: 300;
            outline: none;
            border: none;
            border-bottom: 1px solid #777;
          }

          textarea {
            height: 120px;
          }

          span {
            position: absolute;
            left: 0;
            pointer-events: none;
            font-size: 1rem;
            font-weight: 300;
            transition: 2s;
          }

          input:focus ~ span,
          input:valid ~ span,
          textarea:focus ~ span,
          textarea:valid ~ span {
            transform: translateY(-20px);
            font-size: 0.75rem;
            font-weight: 200;
            letter-spacing: 1px;
          }
        }
        .w50 {
          width: 47%;
        }
        .w100 {
          min-width: 100%;
        }
      }
    }
  }
}
