@import 'config';
@import 'utilities';
@import 'responsive';
@import 'functions';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// navbar

#main-nav {
  position: fixed;
  z-index: 9;
  width: 100%;
  padding-top: 1rem;
  transition: all 0.5s ease-in-out;

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    font-family: 'Eczar', serif;
    font-size: 2.5rem;
    color: #fff;
    span {
      color: $main-color;
    }
  }
  ul {
    display: flex;

    li {
      padding: 1rem 1.5rem;
      a {
        color: #fff;

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0.2rem;
          background: $main-color;
          transition: width 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .burger {
    display: none;
    cursor: pointer;
    text-align: center;
    .line {
      width: 30px;
      height: 3px;
      margin: 5px;
      background: #fff;
      transition: all 0.4s ease;
    }
  }
}

.navbar-bg {
  background: $dark-bg;
  height: 80px;
}

// home section

#home {
  min-height: 100vh;
  background: url('../images/background.jpg') no-repeat center right/cover;
  text-align: center;
  position: relative;
  &::after {
    content: '';
    background: rgba(19, 41, 61, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 100vh;
    position: absolute;
    z-index: 3;
    transition: transform 3s ease;
    transition: all 2s ease;
  }

  h3 {
    color: $secondary-color;
    font-weight: 300;
    font-size: 2rem;
  }
  h1 {
    font-size: 4rem;
    color: $light-bg;
  }

  h2 {
    font-size: 2rem;
    span {
      color: $main-color;
    }
  }
}
