@import "config";
@import "utilities";
@import "responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  color: #fff;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// navbar

#main-nav {
  position: fixed;
  z-index: 9;
  width: 100%;
  padding-top: 1rem;
  transition: all 0.5s ease-in-out;

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    font-family: "Eczar", serif;
    font-size: 2rem;
    span {
      color: $main-color;
    }
  }
  ul {
    display: flex;

    li {
      padding: 1rem 1.5rem;
      a {
        color: #fff;

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 0.2rem;
          background: $main-color;
          transition: width 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .burger {
    display: none;
    cursor: pointer;
    text-align: center;
    .line {
      width: 30px;
      height: 3px;
      margin: 5px;
      background: #fff;
      transition: all 0.4s ease-in-out;
    }
  }
}

.navbar-bg {
  background: $light-bg;
}

// home section

#home {
  min-height: 100vh;
  background: url("../images/bg.jpg") no-repeat center right/cover;
  position: relative;
  &::after {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
    position: absolute;
    z-index: 3;
  }
  h3 {
    color: #fff;
    font-weight: 300;
    font-size: 2rem;
  }
  h1 {
    font-size: 4rem;
    color: $main-color;
  }
}
